<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../stylesheets/questions.scss">
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <title></title>
</head>
<body>
  <h1>Questions#ask</h1>
  <form action="/answer" method="get">
    <div class="form-group">
      <input type="text" name="question" class ="form-control" placeholder="Insert question here">
      <input type="submit" class="btn btn-primary" value="Ask!">
    </div>
  </form>

</body>
</html>

