// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$greensea: #20B2AA;

body {
  background: $greensea; // Using this variable
}

h1 {
    font-size: 100px;
    font-family: 'Staatliches', cursive;
}

a {
  color: white;
  &:hover {
    color: pink;
  }
}
